.home-container {
  height: 100vh;
  background-color: var(--bg);
  position: relative;
  user-select: none;
}

.home-content-container {
  color: var(--red-pink);
  width: 60vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.home-greeting {
  font-size: 22rem;
  color: var(--dark-accent);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-content {
  margin: 15px;
}

.home-continue-button {
  position: absolute;
  bottom: 10%;
  left: 50%;
  width: 75px;
  height: 75px;
  transform: translate(-50%, -10%);
  cursor: pointer;
  outline: none;
  background: none;
  border: 5px solid var(--red-pink);
  border-radius: 50%;
  color: var(--red-pink);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  transition: all 0.5s ease;
}

.home-continue-button:hover {
  background: var(--red-pink);
  color: var(--bg);
}
#home-first-line {
  font-size: 2rem;
}

#home-second-line {
  font-size: 4rem;
  color: var(--yellow);
}

#home-third-line {
  font-size: 2rem;
}

#home-highlighted {
  color: var(--yellow);
}

@media screen and (max-width: 768px) {
  #home-title {
    font-size: 1.5rem;
  }

  #home-name {
    font-size: 3rem;
    color: var(--yellow);
  }

  #home-text {
    font-size: 1.5rem;
  }

  #home-btn {
    background: none;
    color: var(--yellow);
    font-size: 1.5rem;
    padding: 20px;
    border: 2px solid var(--yellow);
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.5s ease;
  }
}
