.home-container {
  height: 80vh;
  background-color: var(--bg-dark);
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-content-container {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--light-gray);
}

.home-content {
  margin: 15px;
}

#home-title {
  font-weight: bold;
  font-size: 2rem;
}

#home-name {
  font-size: 4rem;
  color: var(--yellow);
}

#home-text {
  font-size: 2rem;
}

#home-highlighted {
  color: var(--yellow);
}

#home-btn {
  background: none;
  color: var(--yellow);
  font-size: 2rem;
  padding: 20px;
  border: 2px solid var(--yellow);
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.5s ease;
}

#home-btn:focus {
  outline: none;
}

#home-btn:hover {
  color: var(--bg-dark);
  background: var(--yellow);
}

@media screen and (max-width: 768px) {
  #home-title {
    font-size: 1.5rem;
  }

  #home-name {
    font-size: 3rem;
    color: var(--yellow);
  }

  #home-text {
    font-size: 1.5rem;
  }

  #home-btn {
    background: none;
    color: var(--yellow);
    font-size: 1.5rem;
    padding: 20px;
    border: 2px solid var(--yellow);
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.5s ease;
  }
}
