.skills-container {
  position: relative;
  height: 100vh;
  background-color: var(--bg);
}

.skills-content-container {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-10%, -50%);
  width: 70vw;
  color: var(--light-gray);
  display: flex;
  align-items: center;
}

.skills-description {
  position: absolute;
  width: 35vw;
}

.skills-window {
  width: 30vw;
  background-color: var(--dark-accent);
  right: 0;
  position: absolute;
  height: 50vh;
  box-shadow: 10px 10px 20px var(--dark-accent);
  animation: float 2s ease-in-out infinite;
}

.window-button {
  display: flex;
  justify-content: space-between;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 60px;
  height: 15px;
}

.selector-buttons,
.window-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.selector-item {
  margin: 10px;
}

p.selector-item {
  color: var(--light-gray);
  font-size: 1.5rem;
}

.back-button {
  position: absolute;
  left: 5px;
  top: 5px;
  background: none;
  color: var(--light-gray);
  border: none;
  display: none;
  outline: none;
  font-size: 2rem;
  cursor: pointer;
}

.back-button.active {
  display: flex;
  align-items: center;
  justify-content: center;
}

.data-item {
  color: var(--light-gray);
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

button.selector-item {
  font-size: 1.5rem;
  padding: 10px;
  border-radius: 15px;
  background: none;
  border: 3px solid #fed095;
  color: #fed095;
  cursor: pointer;
  transition: all 0.5s ease;
  outline: none;
}

button.selector-item:hover {
  background: #fed095;
  color: #181818;
}

#red-button {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: var(--red-pink);
}

#yellow-button {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: var(--yellow);
}

#gray-button {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: var(--light-gray);
}

.skills-item {
  margin-top: 20px;
  margin-bottom: 20px;
}

#skills-paragraph {
  font-size: 1.2rem;
  line-height: 2rem;
}

#skills-tag {
  color: #f76d6b;
  font-size: 4rem;
}

@media screen and (max-width: 768px) {
  .skills-content-container {
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    width: 80vw;
    flex-direction: column;
    justify-content: center;
  }

  .skills-description {
    position: relative;
    width: 80vw;
  }

  .skills-window {
    margin-top: 20px;
    width: 80vw;
    background-color: var(--dark-accent);
    right: 0;
    position: relative;
    height: 40vh;
  }

  #skills-tag {
    font-size: 3rem;
  }

  #skills-paragraph {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  /* 
  .selector-container {
    display: flex;
    align-items: center;
    width: 80vw;
    justify-content: center;
  }

  .selector-item {
    color: #3b3a3a;
    font-size: 1.5rem;
    transition: all 0.5s ease;
    cursor: pointer;
  }

  .data-container {
    display: flex;
    align-items: center;
  } */
}
