.skills-container {
  position: relative;
  height: 100vh;
  background-color: var(--bg);
}

.skills-content-container {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-10%, -50%);
  width: 60vw;
  color: var(--light-gray);
}

.selector-container {
  display: flex;
  width: 40vw;
  justify-content: space-between;
}

.selector-item {
  color: #3b3a3a;
  font-size: 2rem;
  transition: all 0.5s ease;
  cursor: pointer;
}

.selector-item:hover {
  color: var(--light-gray);
}

.selector-item.active {
  color: var(--yellow);
}

.data-item {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

.data-container {
  display: flex;
  flex-direction: column;
  height: 15vh;
  flex-wrap: wrap;
}

.skills-item {
  margin-top: 20px;
  margin-bottom: 20px;
}

#skills-paragraph {
  font-size: 1.2rem;
  line-height: 2rem;
}

#skills-tag {
  color: #f76d6b;
  font-size: 4rem;
}
