.logo-container {
  height: 10vh;
  display: flex;
  background-color: var(--bg-dark);
  align-items: center;
  justify-content: center;
}

.logo-item {
  height: 70%;
}

.logo-item path,
.logo-item polygon {
  fill: #f5f7fb;
}
