* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.logo-container {
  height: 10vh;
  display: flex;
  background-color: #2e2e2e;
  align-items: center;
  justify-content: center;
}

.logo-item {
  height: 70%;
}
