* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.about-container {
  height: 100vh;
  background-color: #2e2e2e;
  display: flex;
  align-items: center;
  justify-content: center;
}

.test {
  color: #f0f0f0;
}
