.about-container {
  position: relative;
  height: 100vh;
  background-color: var(--bg);
}

.about-content-container {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-10%, -50%);
  width: 60vw;
  color: var(--light-gray);
}

.about-item {
  margin-top: 20px;
  margin-bottom: 20px;
}

#about-paragraph {
  font-size: 1.2rem;
  line-height: 2rem;
}

#contact-button {
  font-size: 2rem;
  padding: 20px;
  border-radius: 20px;
  background: none;
  border: 5px solid #fed095;
  color: #fed095;
  cursor: pointer;
  transition: all 0.5s ease;
  outline: none;
}

#contact-button:hover {
  background: #fed095;
  color: #181818;
}

#about-tag {
  color: #f76d6b;
  font-size: 4rem;
}

#about-greeting {
  color: #fed095;
  font-size: 6rem;
}

@media screen and (max-width: 768px) {
  .about-content-container {
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80vw;
  }

  #about-tag {
    font-size: 2rem;
  }

  #about-greeting {
    font-size: 2rem;
  }

  #about-paragraph {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  #contact-button {
    font-size: 1rem;
    border-radius: 15px;
    padding: 15px;
  }
}
