.line {
  position: absolute;
  width: 5px;
  top: 0;
  left: 75%;
  transform: translate(-50%);
  height: 100vh;
  background: var(--red-pink);
}

.line::after {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--red-pink);
}
