.line {
  position: absolute;
  width: 5px;
  top: 0;
  left: 80%;
  transform: translate(-50%);
  height: 100vh;
  background: var(--red-pink);
  box-shadow: 10px 0px 10px var(--dark-accent);
}

.line::after {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--red-pink);
}

@media screen and (max-width: 768px) {
  .line {
    display: none;
  }
}
