.sidebar-container-open {
  height: 100%;
  width: 100vw;
  background-color: var(--dark-accent);
  position: fixed;
  z-index: 20;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
}

.sidebar-container-closed {
  height: 0%;
  width: 100vw;
  background-color: var(--bg);
  position: fixed;
  z-index: 20;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transition: all 0.5s ease;
}

.sidebar-close-button {
  position: absolute;
  top: 20px;
  right: 36px;
  font-size: 2rem;
  cursor: pointer;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light-gray);
  border: none;
  outline: none;
  transition: all 0.5s ease;
}
.sidebar-close-button:hover {
  transform: rotateZ(180deg);
}

.sidebar-link-container {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
  text-align: center;
}

.sidebar-link-item {
  margin: 20px;
}

.sidebar-link {
  font-size: 3rem;
  cursor: pointer;
  color: #3b3a3a;
  transition: all 0.5s ease;
}

.sidebar-link:hover {
  color: var(--light-gray);
}

.sidebar-link.active {
  color: var(--light-gray);
  border-bottom: 4px solid var(--red-pink);
}
