.showcase-container {
  height: 100vh;
  background-color: var(--bg);
  position: relative;
}

.showcase-content-container {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-10%, -50%);
  width: 60vw;
  color: var(--light-gray);
}

.showcase-item {
  margin-top: 20px;
  margin-bottom: 20px;
}

#showcase-paragraph {
  font-size: 1.2rem;
  line-height: 2rem;
}

#showcase-tag {
  color: #f76d6b;
  font-size: 4rem;
}

#showcase-subheading {
  font-size: 2rem;
  color: var(--yellow);
}

#showcase-button {
  font-size: 1.5rem;
  padding: 20px;
  border-radius: 20px;
  background: none;
  border: 5px solid #fed095;
  color: #fed095;
  cursor: pointer;
  transition: all 0.5s ease;
  outline: none;
}

#showcase-button:hover {
  background: #fed095;
  color: #181818;
}

#showcase-paragraph a {
  color: var(--yellow);
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .showcase-content-container {
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80vw;
  }

  #showcase-tag {
    font-size: 3rem;
  }

  #showcase-paragraph {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  #showcase-button {
    font-size: 1.5rem;
  }
}
