:root {
  --dark-accent: #181818;
  --bg: #1f1f1f;
  --light-gray: #f5f7fb;
  --red-pink: #f76d6b;
  --yellow: #fed095;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

#highlighted {
  color: #fed095;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
